.wrapper_temp {
    display: flex;
}

.wrapper {
    width: 245px;
    height: 714px;
    z-index: 10;
}

.wrapper_components {
    height: 100%;
    padding: 8px 12px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white-color);
}

// logo
.logo {
    height: 92px;
    width: 220px;
}

.logo_space {
    padding: 25px 12px 16px;
    margin: 0 0 19px 0;
}

.logo_wrapper_svg {
    display: flex;
}

.logo_svg {
    display: flex;
}

.logo_svg svg {
    margin-top: 7px;
}

// option
.options {
    height: 582px;
    width: 220px;
}

// common
.common {
    height: 56px;
    display: flex;
    justify-content: center;
}

.common_wrapper {
    height: 48px;
    width: 220px;
    margin: 4px 0;
    padding: 12px;
    border-radius: 40px;
    display: flex;
}

.common_link {
    text-decoration: none;

    .common_logo {
        height: 48px;
        width: 220px;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        background-color: transparent;
    }
}

.common_link :hover {
    background-color: #f3f3f3;
}

.focus {
    .common_text {
        font-weight: 600;
    }
}

.common_wrapper_temp {
    height: 24px;
    width: 196px;
    display: flex;
    align-items: center;
    position: relative;
}

.common_text {
    height: 24px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #262626;
    display: flex;
    align-items: center;
    padding: 0 0 0 8px;
}

.comon_dot_notify {
    height: 10px;
    width: 10px;
    background-color: #ff0000;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    position: absolute;
    top: -1px;
    left: 18px;
}

.more {
    height: 56px;
    position: relative;
    display: flex;
    align-items: center;
}

.more_temp {
    height: 100%;
    width: 100%;
}

.more_temp_link {
    height: 100%;
    width: 100%;
    // padding: 0 12px;
}

.more_temp :hover .icon-menu {
    background-color: #f3f3f3;
}

.icon-menu {
    height: 56px;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 0 12px;
    background-color: transparent;
    border-radius: 40px;
}

.icon-text {
    padding: 0 0 0 16px;
    font-size: 1.6rem;
    font-weight: 200;
}
