.main_home {
    height: 100vh;
    width: 1013px;
    margin: 0 131px 0 100px;
}

//wrapper

.wrapper {
    display: flex;
    min-height: 614px;
}

.news {
    width: 630px;
    margin-right: 64px;
    display: flex;
    justify-content: center;
}
