.wrapper {
    width: 1275px;
    min-height: 100%;
    display: flex;
    justify-content: center;

    &.disableScroll {
        height: 100vh;
        overflow: hidden;
    }
}

.inner {
    width: 935px;
    min-height: 100%;
    margin: 0 150px 30px 100px;
    padding: 24px 20px 0;
}
