.wrapper {
    display: flex;
    flex-direction: column;
    // position: relative;
}

.user {
    height: 72px;
    padding: 14px 4px 14px 0;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    width: calc(100% - 28px);
}

.info-up {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    flex-shrink: 1;
    font: inherit;
    font-size: 100%;
    margin: 0;
    min-width: 0;
    // width: calc(100% - 28px);
    flex-direction: column;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

.avatar {
    height: 32px;
    width: 32px;
    margin: 0 14px 0 0;
    border-radius: 50%;
    object-fit: cover;
}

.nickname {
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    display: inline-flex;
}

.dot {
    height: 18px;
    width: 14px;
    font-size: 1.6rem;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-follow {
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--btn-blue-color);
    cursor: pointer;
}

.content {
    display: inline;
    margin-left: 4px;
    font-size: 1.4rem;
}

.info-down {
    overflow-y: visible;
    font-size: 1.2rem;
}
